.slider {
  .slides {
    background-color: rgba(0, 0, 0, 0.85) !important;
    li img {
      opacity: 0.40;
    }
  } // end .slides
}

.opaque {
  h5 {
    background: rgba(25, 25, 25, .5);
  }
} // end .opaque

footer {
  display: none;
}
