    <!-- NAVBAR
    ================================================== -->
    <div class="menu">
      <button id="btn-menu" class="nav-toggler toggle-slide-left">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div>
      <ul id="slide-out" class="side-nav">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"></a>
    </div>
