
/* Theme colors */
$nav-text-color: #E8F5E9;
$nav-bg-color: #fff;

$text-color: #A5D6A7;
$text-bold-color: #a3cd8b;

$bg-base-color: #00C853;
$bg-light-color: #00E676;

$bg-services: #F1F5F7;
$light-border: #E1DFDF;

$icon-color: #9B9B9B;
$contact-text-color: #B3B3B3;

$list-good-color: #aac3c1;

$footer-bg-color: #fff;
$text-box-font-color: #fff;

$side-nav-bg: rgba(26, 29, 45, 0.68);
$side-nav-a-hover: #B3B3B3; 

/* Image paths */
$prefix-background: "/images/backgrounds/bg";
$img-extension: ".jpg";
